[toolchain]
anchor_version = "0.30.1"
package_manager = "yarn"

[features]
resolution = true
skip-lint = false
idl-build = true

[programs.localnet]
invo_fi = "D7aLtLd2LNkZrwzmGe6sfs9YjRbLh6fiymtUmCnYHn84"

[programs.devnet]
invo_fi = "D7aLtLd2LNkZrwzmGe6sfs9YjRbLh6fiymtUmCnYHn84"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
