[toolchain]
anchor_version = "0.30.1"
package_manager = "yarn"

[features]
resolution = true
skip-lint = false
idl-build = true

[programs.localnet]
invo_fi = "6wG3H75vWDm7k6j72Ka5yGXTozz5rBxryZrMyLZ1KwGD"

[programs.devnet]
invo_fi = "6wG3H75vWDm7k6j72Ka5yGXTozz5rBxryZrMyLZ1KwGD"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
